.header {
  position: relative;
  height: 200px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.header > .headerCover {
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  background-size: cover;
  position: absolute;
  z-index: 0;

  transform: scale(3);
  bottom: 100%;
}

.header > .headerTitle,
.headerSubTitle,
.divider {
  position: relative;
  z-index: 2;
  text-align: center;
  width: auto;
}

.header > .headerTitle {
  margin: 0;
  font-family: "Alex Brush", cursive;
  color: #eaeaea;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 52px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.header > .divider {
  position: relative;
  height: 1px;
  width: 350px;
  background-color: #eaeaea;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.headerSubTitle {
  background-color: rgba(234, 234, 234, 0.55);
  padding: 4px 32px;
  margin: 8px auto;
  color: #3a0000;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.headerSubTitle .text {
  display: block;
}

.dash {
  display: none;
}

@media (max-width: 768px) {
  .headerCover {
    right: 50%;
  }
}

@media (min-width: 769px) {
  .header {
    height: 300px;
  }

  .headerSubTitle {
    font-size: 20px;
  }

  .headerSubTitle {
    flex-direction: row;
  }

  .headerSubTitle .text {
    display: inline;
  }

  .dash {
    display: inline;
    margin: 0 10px;
  }

  .header > .headerTitle {
    font-size: 64px;
  }
  .header > .headerCover {
    height: 100%;
    width: auto;
    bottom: 85%;
  }
}
