.listaPresentes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.filterWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 0;
}
