.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #fff;
}

.searchIcon {
  color: #999;
}

.searchInput {
  border: none;
  margin-left: 10px;
  flex-grow: 1;
  background-color: #fff;
  outline: none;
  height: 30px;
  font-size: 16px;
}

.clearButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
}

.label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.dropdownContainer {
  position: relative;
  width: 100%;
}

.autocompleteList {
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  top: 100%;
}

.searchInputContainer:focus,
.searchInputContainer:hover {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
