.main {
  padding: 2% 2% 0%;
  background-color: #fffcf4;
  min-height: 100vh;
}

.title {
  width: 100%;
  text-align: center;
  color: #3a0000;
  font-weight: bold;
  margin: 20px auto 0px;
  font-size: 24px;
}

@media (min-width: 769px) {
  .title {
    font-size: 24px;
  }
}
