.main {
  padding: 2% 2% 0%;
  background-color: #FFFCF4;
  min-height: 100vh;
}

.listaPresentes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  width: 100%;
  text-align: center;
  color: #3a0000;
  font-weight: bold;
  margin: 20px auto;
}