.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputContainer {
  flex-basis: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px 8px 8px;
}

.label {
  display: block;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5715;
}

.input {
  width: 100%;
  padding: 10px 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5715;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}

.input:focus,
.input:hover {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.input::-moz-placeholder {
  color: #bfbfbf;
}

.input:-ms-input-placeholder {
  color: #bfbfbf;
}

.input::placeholder {
  color: #bfbfbf;
}

.submitButton {
  display: block;
  width: fit-content;
  margin: 10px 0px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-basis: 75%;
}

.submitButton:hover {
  background-color: #65c466;
}

.submitButton {
  position: relative;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #65c466;
}

.submitButton.loading {
  cursor: not-allowed;
  background-color: #ccc;
}

.submitButton.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 769px) {
  .inputContainer {
    flex-basis: 20%;
  }

  .submitButton {
    flex-basis: 20%;
  }
}
